/* 変数宣言 */
$blackboard: #0B4500;
$blackboard-flame: #798079;
$BG-color: #ffffff;
$back-cover:#000000;
$messageTheme: #b9f1ff;
$sendTime:#5c5c5c;
$material-icons:#3d3d3d;

/* 全体ここから */
html,body{
    width: 100%;
    height: 100%;
}
button{
    background: none;
	border: none;
	outline: none;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
    cursor: pointer;
}
.material-icons{
    color: $material-icons;
}
/* 全体ここまで */

/* top.htmlここから */
/* loading ここから */
#loader-bg {
    display: none;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    background: linear-gradient(#6e017c ,#e05f24, #e69c60 );
    z-index: 1;
}
#loader {
    display: none;
    position: fixed;
    top: 55%;
    left: 50%;
    width: 200px;
    height: 200px;
    margin-top: -100px;
    margin-left: -100px;
    text-align: center;
    color: #fff;
    z-index: 2;
}
#image{
    display: block;
}
/* loading ここまで */

a{
    width: fit-content;
    background-color: $BG-color;
    position: absolute;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    display: flex;
    align-items: center;
}

/* top.htmlここまで */

/* index.htmlここから */
ul {
    list-style: none;
    width: fit-content;
    display: block;
}
li {
    cursor:pointer;
    cursor:hand;
    display:inline-block;
}
#createTheme{
    display: flex;
    width: fit-content;
    align-items: center;
    button{
    display: block;
    width: fit-content;
    background-color: $BG-color;
    }
    p{
    display: block;
    height: fit-content;
    background-color: $BG-color;
    text-align: center;
    }
}
#blackCover{
    width: 100%;
    height: 100%;
    background-color: $back-cover;
    opacity: 0.15;
}
#center{
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
}
#responsiveArea{
    display: flex;
    #flexArea{
        display: flex;
        width: fit-content;
        .container{
        display: block;
        margin: auto;
        background-color: $BG-color;
        position: relative;
        form{
            height: 100%;
            #messageHeader{
            background-color: $messageTheme;
            }
            #allChatLogs{
            overflow-y: scroll;
            .chatLog{
                #sendTime{
                color: $sendTime;
                }
            }
            }
            #messageFooter{
            position: absolute;
            bottom: 0;
            width: 100%;
            text-align: center;
            background-color: $messageTheme;
            #msgForm{
                text-align: start;
                background-color: $BG-color;
            }
            }
        }
        }
        canvas{
        display: block;
        width: fit-content;
        background-color: $blackboard;
        }
    }
}
/* スクロールバーここから */
::-webkit-scrollbar {
    width: 12px;
}
::-webkit-scrollbar-track {
    background: #e2e2e2;
}
::-webkit-scrollbar-thumb {
    background: #a3a3a3;
}
/* スクロールバーここまで */
#selectArea{
    background-color: $BG-color;
    display: flex;
    #selectAreaContents{
    width: fit-content;
    display: flex;
    align-items: center;
    #button{
        width: fit-content;
        display: block;
        button{
            width: fit-content;
            img{
                width: 24px;
                height: 24px;
            }
        }
    }
    }
}
/* index.htmlここまで */

