@charset "UTF-8";
/*! destyle.css v1.0.15 | MIT License | https://github.com/nicolas-cusan/destyle.css */
/* Reset box-model */
/* ============================================ */
* {
  box-sizing: border-box;
}

::before,
::after {
  box-sizing: inherit;
}

/* Document */
/* ============================================ */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 * 3. Remove gray overlay on links for iOS.
 */
html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
  -webkit-tap-highlight-color: transparent;
  /* 3*/
}

/* Sections */
/* ============================================ */
/**
 * Remove the margin in all browsers.
 */
body {
  margin: 0;
}

/**
 * Render the `main` element consistently in IE.
 */
main {
  display: block;
}

/* Vertical rhythm */
/* ============================================ */
p,
table,
blockquote,
address,
pre,
iframe,
form,
figure,
dl {
  margin: 0;
}

/* Headings */
/* ============================================ */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  line-height: inherit;
  font-weight: inherit;
  margin: 0;
}

/* Lists (enumeration) */
/* ============================================ */
ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

/* Lists (definition) */
/* ============================================ */
dt {
  font-weight: bold;
}

dd {
  margin-left: 0;
}

/* Grouping content */
/* ============================================ */
/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */
  border: 0;
  border-top: 1px solid;
  margin: 0;
  clear: both;
  color: inherit;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: inherit;
  /* 2 */
}

address {
  font-style: inherit;
}

/* Text-level semantics */
/* ============================================ */
/**
 * Remove the gray background on active links in IE 10.
 */
a {
  background-color: transparent;
  text-decoration: none;
  color: inherit;
}

/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  text-decoration: underline dotted;
  /* 2 */
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: inherit;
  /* 2 */
}

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Embedded content */
/* ============================================ */
/**
 * Remove the border on images inside links in IE 10.
 */
img {
  border-style: none;
  vertical-align: bottom;
}

embed,
object,
iframe {
  border: 0;
  vertical-align: bottom;
}

/* Forms */
/* ============================================ */
/**
 * Reset form fields to make them styleable
 */
button,
input,
optgroup,
select,
textarea {
  -webkit-appearance: none;
  appearance: none;
  vertical-align: middle;
  color: inherit;
  font: inherit;
  border: 0;
  background: transparent;
  padding: 0;
  margin: 0;
  outline: 0;
  border-radius: 0;
  text-align: inherit;
}

/**
 * Reset radio and checkbox appearance to preserve their look in iOS.
 */
[type=checkbox] {
  -webkit-appearance: checkbox;
  appearance: checkbox;
}

[type=radio] {
  -webkit-appearance: radio;
  appearance: radio;
}

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
button,
input {
  /* 1 */
  overflow: visible;
}

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select {
  /* 1 */
  text-transform: none;
}

/**
 * Correct the inability to style clickable types in iOS and Safari.
 */
button,
[type=button],
[type=reset],
[type=submit] {
  cursor: pointer;
  -webkit-appearance: none;
  appearance: none;
}

button[disabled],
[type=button][disabled],
[type=reset][disabled],
[type=submit][disabled] {
  cursor: default;
}

/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring,
[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
 * Remove arrow in IE10 & IE11
 */
select::-ms-expand {
  display: none;
}

/**
 * Remove padding
 */
option {
  padding: 0;
}

/**
 * Reset to invisible
 */
fieldset {
  margin: 0;
  padding: 0;
  border: 0;
  min-width: 0;
}

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */
}

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  vertical-align: baseline;
}

/**
 * Remove the default vertical scrollbar in IE 10+.
 */
textarea {
  overflow: auto;
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Correct the outline style in Safari.
 */
[type=search] {
  outline-offset: -2px;
  /* 1 */
}

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */
[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/**
 * Clickable labels
 */
label[for] {
  cursor: pointer;
}

/* Interactive */
/* ============================================ */
/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */
details {
  display: block;
}

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item;
}

/*
 * Remove outline for editable content.
 */
[contenteditable] {
  outline: none;
}

/* Table */
/* ============================================ */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption {
  text-align: left;
}

td,
th {
  vertical-align: top;
  padding: 0;
}

th {
  text-align: left;
  font-weight: bold;
}

/* Misc */
/* ============================================ */
/**
 * Add the correct display in IE 10+.
 */
template {
  display: none;
}

/**
 * Add the correct display in IE 10.
 */
[hidden] {
  display: none;
}

/* 変数宣言 */
/* 全体ここから */
html, body {
  width: 100%;
  height: 100%;
}

button {
  background: none;
  border: none;
  outline: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  cursor: pointer;
}

.material-icons {
  color: #3d3d3d;
}

/* 全体ここまで */
/* top.htmlここから */
/* loading ここから */
#loader-bg {
  display: none;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
  background: linear-gradient(#6e017c, #e05f24, #e69c60);
  z-index: 1;
}

#loader {
  display: none;
  position: fixed;
  top: 55%;
  left: 50%;
  width: 200px;
  height: 200px;
  margin-top: -100px;
  margin-left: -100px;
  text-align: center;
  color: #fff;
  z-index: 2;
}

#image {
  display: block;
}

/* loading ここまで */
a {
  width: fit-content;
  background-color: #ffffff;
  position: absolute;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  display: flex;
  align-items: center;
}

/* top.htmlここまで */
/* index.htmlここから */
ul {
  list-style: none;
  width: fit-content;
  display: block;
}

li {
  cursor: pointer;
  cursor: hand;
  display: inline-block;
}

#createTheme {
  display: flex;
  width: fit-content;
  align-items: center;
}
#createTheme button {
  display: block;
  width: fit-content;
  background-color: #ffffff;
}
#createTheme p {
  display: block;
  height: fit-content;
  background-color: #ffffff;
  text-align: center;
}

#blackCover {
  width: 100%;
  height: 100%;
  background-color: #000000;
  opacity: 0.15;
}

#center {
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
}

#responsiveArea {
  display: flex;
}
#responsiveArea #flexArea {
  display: flex;
  width: fit-content;
}
#responsiveArea #flexArea .container {
  display: block;
  margin: auto;
  background-color: #ffffff;
  position: relative;
}
#responsiveArea #flexArea .container form {
  height: 100%;
}
#responsiveArea #flexArea .container form #messageHeader {
  background-color: #b9f1ff;
}
#responsiveArea #flexArea .container form #allChatLogs {
  overflow-y: scroll;
}
#responsiveArea #flexArea .container form #allChatLogs .chatLog #sendTime {
  color: #5c5c5c;
}
#responsiveArea #flexArea .container form #messageFooter {
  position: absolute;
  bottom: 0;
  width: 100%;
  text-align: center;
  background-color: #b9f1ff;
}
#responsiveArea #flexArea .container form #messageFooter #msgForm {
  text-align: start;
  background-color: #ffffff;
}
#responsiveArea #flexArea canvas {
  display: block;
  width: fit-content;
  background-color: #0B4500;
}

/* スクロールバーここから */
::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-track {
  background: #e2e2e2;
}

::-webkit-scrollbar-thumb {
  background: #a3a3a3;
}

/* スクロールバーここまで */
#selectArea {
  background-color: #ffffff;
  display: flex;
}
#selectArea #selectAreaContents {
  width: fit-content;
  display: flex;
  align-items: center;
}
#selectArea #selectAreaContents #button {
  width: fit-content;
  display: block;
}
#selectArea #selectAreaContents #button button {
  width: fit-content;
}
#selectArea #selectAreaContents #button button img {
  width: 24px;
  height: 24px;
  margin: 0;
}

/* index.htmlここまで */
a {
  padding: 0.8rem 2rem;
  border-radius: 60px;
  font-size: 1.2em;
  top: 80%;
}
a #goIcon {
  font-size: 1.5rem;
  margin-left: 0.5rem;
}

#image {
  width: 300px;
  margin: 4rem auto;
}

/* PC版デザインここから */
@media screen and (min-width: 950px) {
  a {
    padding: 1rem 2.5rem;
    border-radius: 25px;
    font-size: 1.2rem;
    top: 65%;
  }
  a #goIcon {
    font-size: 1rem;
    margin-left: 0.8rem;
  }

  #image {
    width: fit-content;
    margin: 5rem auto;
  }
}
#rouka {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  z-index: 10;
}
#rouka .grade {
  display: flex;
}
#rouka .grade .classroom {
  background-color: #ffffff;
  margin: 2rem 1rem;
  padding: 1rem;
  display: flex;
  flex-direction: column;
}

/* mobileここから */
/* mobileここまで */
#sendButton {
  margin-left: 4rem;
}

#save {
  font-size: 120%;
  width: 80px;
  height: 50px;
}

#clear {
  font-size: 120%;
  height: 50px;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  width: 40px;
  height: 40px;
  margin: 0 0.5rem;
  border-radius: 25px;
}

#center {
  position: relative;
}

#createTheme {
  margin: 0 auto 2rem;
}
#createTheme button {
  padding: 1rem 1.5rem;
  border-radius: 25px;
}
#createTheme p {
  width: 7rem;
  margin-right: 1.5rem;
  padding: 0.8rem 0;
  border: 2px outset;
}

#responsiveArea {
  flex-direction: column-reverse;
}
#responsiveArea #flexArea {
  flex-direction: column;
  margin: 0 auto 2rem;
}
#responsiveArea #flexArea .container {
  width: 350px;
  height: 400px;
}
#responsiveArea #flexArea .container form #messageHeader {
  padding: 0.8rem 1.5rem;
}
#responsiveArea #flexArea .container form #messageHeader #nameBox {
  margin-left: 1rem;
}
#responsiveArea #flexArea .container form #allChatLogs {
  height: 74.7%;
}
#responsiveArea #flexArea .container form #allChatLogs .chatLog {
  margin: 0.5rem 0.8rem;
}
#responsiveArea #flexArea .container form #allChatLogs .chatLog #sendTime {
  font-size: 0.6rem;
  margin-left: 0.4rem;
}
#responsiveArea #flexArea .container form #messageFooter {
  padding: 0.75rem 0;
}
#responsiveArea #flexArea .container form #messageFooter #msgForm {
  margin-right: 0.5rem;
  padding: 0.5rem 1rem;
  border-radius: 25px;
}
#responsiveArea #flexArea canvas {
  margin: 1rem auto;
  border: 7px solid #798079;
}
#responsiveArea #selectArea {
  height: 7rem;
  border-radius: 30px;
}
#responsiveArea #selectArea #selectAreaContents {
  height: fit-content;
  margin: 0 auto;
  flex-direction: column-reverse;
}
#responsiveArea #selectArea #selectAreaContents #button {
  margin-left: 0;
}
#responsiveArea #selectArea #selectAreaContents #button #sendButton {
  margin: 0 0.5rem;
}
#responsiveArea #selectArea #selectAreaContents #button button {
  margin: 0 0.5rem;
}

/* PC版デザインここから */
@media screen and (min-width: 950px) {
  #save {
    font-size: 120%;
    width: 80px;
    height: 50px;
  }

  #clear {
    font-size: 120%;
    height: 50px;
  }

  ul {
    margin: 0;
    padding: 0;
  }

  li {
    width: 85px;
    height: 30px;
    margin: 0 0.3rem;
    border-radius: 0px;
  }

  #center {
    position: absolute;
  }

  #createTheme {
    margin: 0 auto 2rem;
  }
  #createTheme button {
    padding: 1rem 1.5rem;
    border-radius: 25px;
  }
  #createTheme p {
    width: 9rem;
    margin-right: 2rem;
    padding: 0.9rem 0;
    border: 3px outset;
  }

  #responsiveArea {
    flex-direction: column;
  }
  #responsiveArea #flexArea {
    flex-direction: row;
    margin: 0 auto 2rem;
  }
  #responsiveArea #flexArea .container {
    width: 350px;
    height: 400px;
  }
  #responsiveArea #flexArea .container form #messageHeader {
    padding: 0.8rem 1.5rem;
  }
  #responsiveArea #flexArea .container form #messageHeader #nameBox {
    margin-left: 1rem;
  }
  #responsiveArea #flexArea .container form #allChatLogs {
    height: 74.7%;
  }
  #responsiveArea #flexArea .container form #allChatLogs .chatLog {
    margin: 0.5rem 0.8rem;
  }
  #responsiveArea #flexArea .container form #allChatLogs .chatLog #sendTime {
    font-size: 0.6rem;
    margin-left: 0.4rem;
  }
  #responsiveArea #flexArea .container form #messageFooter {
    padding: 0.75rem 0;
  }
  #responsiveArea #flexArea .container form #messageFooter #msgForm {
    margin-right: 0.5rem;
    padding: 0.5rem 1rem;
    border-radius: 25px;
  }
  #responsiveArea #flexArea .container form #messageFooter #sendButton {
    margin: 0;
  }
  #responsiveArea #flexArea canvas {
    margin: auto;
    margin-right: 1rem;
    border: 7px solid #798079;
  }
  #responsiveArea #selectArea {
    height: 4rem;
    border-radius: 30px;
    flex-direction: row;
  }
  #responsiveArea #selectArea #selectAreaContents {
    height: auto;
    margin: 0 auto;
    flex-direction: row;
  }
  #responsiveArea #selectArea #selectAreaContents #button {
    margin-left: 2rem;
  }
  #responsiveArea #selectArea #selectAreaContents #button #sendButton {
    margin: 0 0.5rem;
  }
  #responsiveArea #selectArea #selectAreaContents #button button {
    margin: 0 0.5rem;
  }
}
